@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.bgx{
    background-color: #121828;
    color:white;
}
.bgx2{
    background-color:#329A75;
}
.goBeyond{
    left: -30px;
}
@layer utilities{
    .scrollbar-hidden::-webkit-scrollbar{
        display:none;
    }
    .scrollbar-hidden{
        scrollbar-width:none;
    }
    .scrollbar-hidden{
        -ms-overflow-style:none;
    }
     
}
        @keyframes shimmer {
            0% {
                background-position: -1000px 0;
            }
            100% {
                background-position: 1000px 0;
            }
        }

        .animate-shimmer {
            animation: shimmer 2s infinite linear;
            background: linear-gradient(to right, #f6f7f8 4%, #edeef1 25%, #f6f7f8 36%);
            background-size: 1000px 100%;
        }